@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
 h1,
h2,
h3,
h4 {
    font-family: 'Lora', Georgia, serif;
}
body {
    color: #444;
    padding-top: 65px;
}
.jumbotron h1 {
    font-size: 60px;
}
.btn-success {
    background-color: orange;
    border: none;
}
.btn-success:hover {
    background-color: red;
    border: none;
}